* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #083b4c;
}

.container {
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container h1 {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.box {
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #1389b2;
    margin: .5rem .5rem;
}

.fizz {
    background-color: #0bd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzbuzz {
    background-color: #f0466f;
}